/* Reference: https://codepen.io/gaearon/pen/oWWQNa?editors=0100, 
from https://reactjs.org/tutorial/tutorial.html#inspecting-the-starter-code*/

.board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .container {
    width: 200px;
    margin: auto;
  }

  .square {
    border: 1px solid grey;
    float: left;
    height: 100px;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }

  
  .controls > button,
.reset-button {
  padding: 10px;
  background: #222;
  color: #ccc;
  border: none;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.controls > button:hover,
.reset-button:hover {
  background-color: #111;
  color: #fff;
}

.controls > button.active {
  font-weight: bold;
  background-color: #333;
  color: #ff0;
}

.selected-point {
  font-size: 0.85em;
  margin-top: 16px;
}

.reset-button {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 10;
}
