.forwardButton {
    position: absolute;
    right: 16px;
    top: 240px;
    z-index: 10;
}

.backwardButton {
    position: absolute;
    right: 16px;
    top: 480px;
    z-index: 10;
}

.turnLeftButton {
    position: absolute;
    right: 16px;
    top: 720px;
    z-index: 10;
}

.turnRightButton {
    position: absolute;
    right: 16px;
    top: 960px;
    z-index: 10;
}

.toggleMiniMap {
    position: absolute;
    right: 16px;
    top: 1280px;
    z-index: 10;
}

.toggleDarkMode {
    position: absolute;
    right: 16px;
    top: 1600 px;
    z-index: 10;
}

