.panelContainer {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 30vh;
    height: 30vh;   
}

.panelContainer > * {
    font-size: 10vh;
    z-index: 100;
    color: rgba(0, 0, 0,0.4);
    place-self: center;
    transition: 500ms;
}

.panelContainer > *:hover, .panelContainer > *:active {
    color: #db5d27c7;
    cursor: pointer;
}

@media (max-width:576px) {
    .panelContainer {
        top: 70%;
        width: 50vh;
        height: 50vh;   
    }
    
    .panelContainer > *{
         font-size: 16vh;
    }
}

.forwardButton {
    grid-row: 1;
    grid-column: 2;
}

.backwardButton {
    grid-row: 3;
    grid-column: 2;
}

.turnLeftButton {
    grid-row: 2;
    grid-column: 1;
}

.turnRightButton {
    grid-row: 2;
    grid-column: 3;
}
