.guide {
    background-color: #fdda97;
    font-family: 'Coming Soon', cursive;
    text-align: center;
    padding-top: 4vh;
    padding-left: 3vw;
    padding-right: 3vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: #382618;
}

.moveGuide {
    opacity: 0.8;
    filter: alpha(opacity=40);
    width: 70vw;
}

.bigHeader {
    font-size: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.smallHeader {
    font-size: 3vw;
}

.plainText {
    font-size: 2vw;
    font-weight: bold;
}

.list {
    text-align: start;
    font-size: 2vw;
}

.gameModeName {
    font-weight: bold;
}

.description {
    margin-bottom: 3%;
    text-align: start;
    padding-left: 10vw;
    padding-right: 10vw;
}

.topGoBackButton {
    align-self: flex-start;
}

.goBackButton:hover {
    font-size: 4vw;
    color: #db5c27;
}

.goBackButton {
    font-size: 3vw;
    font-weight: bolder;
    cursor: pointer;
}