.guide {
    background-color: #fdda97;
    font-family: 'Coming Soon', cursive;
    text-align: center;
    top: 0;
    padding-top: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.moveGuide {
    opacity: 0.8;
    filter: alpha(opacity=40);
    width: 70vw;
}

.bigHeader {
    font-size: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.smallHeader {
    font-size: 3vw;
}

.plainText {
    font-size: 2vw;
    font-weight: bold;
}

.list {
    text-align: start;
    font-size: 2vw;
}

.gameModeName {
    font-weight: bold;
}

.description {
    margin-bottom: 3%;
    text-align: start;
    padding-left: 10vw;
    padding-right: 10vw;
}