.helperPage {
  height: 100%;
}

.moveGuide {
  opacity: 0.9;
  filter: alpha(opacity=40);
  width: 80%;
  height: 15%;
  margin: 0;
}

.operationDescription {
  display: block;
  width: 100%;
}

.iconDescriptionContainer {
  height: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: start;
  padding-left: 15%;
}

.eventIcon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.8rem;
}

.plainText {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 576px) {
  .helperPage {
    padding-top: 2rem;
  }
  .moveGuide {
    opacity: 0.9;
    filter: alpha(opacity=40);
    width: 13rem;
    height: 7rem;
    margin: 0;
  }
  .operationDescription {
    display: block;
    width: 100%;
  }
  .iconDescriptionContainer {
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: start;
    padding-left: 15%;
  }
  .eventIcon {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.6rem;
  }
  .plainText {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
