/* @font-face {
    font-family: 'Parchment_MF';
    src: url('Parchment_MF.woff') format('woff');
} */

body {
    background: url("../images/titlebackground.png") center center/cover no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.container {
    margin-left: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    position: absolute;
    top: 1.4vh;
    font-family: 'Ubuntu', sans-serif;
    ;
    font-size: 15vh;
}

.options {
    position: absolute;
    top: 30vh;
}

.buttons {
    font-family: 'Coming Soon', cursive;
    transition: 500ms;
    text-shadow: 2px 2px gray;
    font-size: 4.8vh;
}

.buttons:hover {
    color: #db5c27;
    text-shadow: 0px 0px;
    cursor: pointer;
}

/* .alert-enter {
    opacity: 0.01;
}

.alert-enter.alert-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.alert-leave {
    opacity: 1;
}

.alert-leave.alert-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
} */